<div class="flex flex-col px-6 py-8 w-full rounded-xl border border-solid border-black border-opacity-50 max-w-4xl mx-auto bg-white">
  <div class="flex flex-col">
    <h1 class="text-3xl font-extrabold text-black">
      Detail Kwitansi
    </h1>
  </div>
  <div class="flex items-center mt-8 gap-8">
    <!-- Detail Karyawan -->
    <dl class="flex flex-col text-sm text-black">
      <div class="flex mb-2">
        <dt class="w-36 font-bold">No Bukti</dt>
        <dd>: 00001</dd>
      </div>
      <div class="flex mb-2">
        <dt class="w-36 font-bold">Untuk Pembayaran</dt>
        <dd>: Biaya Pengadaan ARK Belanja barang Persediaan Barang Konsumsi di BPS Kota Padang Tahun Anggaran 2024</dd>
      </div>
      <div class="flex mb-2">
        <dt class="w-36 font-bold">Tanggal</dt>
        <dd>: 26 Februari 2024</dd>
      </div>
      <div class="flex mb-2">
        <dt class="w-36 font-bold">Jumlah Uang</dt>
        <dd>: Rp 644.500,00</dd>
      </div>
      <div class="flex mb-2">
        <dt class="w-36 font-bold">Dokumen</dt>
        <td class="px-6 py-4 text-sm text-gray-800"><a href="dokumen" class="text-blue-600 hover:text-blue-700">: KUITANSI  00059-Biaya Pengadaan ARK Belanja Barang Persediaan Barang Konsumsi 2024</a></td>
    </dl>
  </div>
  <hr class="mt-6 border-gray-300" />
  <div class="flex justify-end mt-4">
    <button 
    onclick="window.history.back()"
    class="px-4 py-2 bg-white rounded-lg border border-gray-300 shadow-sm text-sm font-medium text-black hover:bg-gray-50">
      Kembali
    </a>
  </div>
</div>