<div class="flex flex-col lg:ml-10 lg:mt-12">
  <h1 class="text-4xl font-bold text-center">KUITANSI  00059-Biaya Pengadaan ARK Belanja Barang Persediaan Barang Konsumsi 2024</h1>

<div class="mt-10 bg-white rounded-xl border border-gray-300 shadow-lg p-8 w-full">
  <!-- Iframe untuk menampilkan PDF -->
  <iframe 
    src="/files/KUITANSI  00059-Biaya Pengadaan ARK Belanja Barang Persediaan Barang Konsumsi 2024.pdf"
    class="w-full h-[700px] border-none rounded-lg"
    style="width: 100%; min-width: 100%;"
  >
  </iframe>
  
  <!-- Tombol Download PDF -->
  <a 
    href="#" 
    class="mt-6 inline-block px-6 py-3 bg-blue-500 text-white font-semibold text-lg rounded-lg shadow-md focus:outline-none"
  >
    Download PDF
  </a>

  <button 
    onclick="window.history.back()" 
    class="mt-6 justify-end px-6 py-3 bg-white-500 text-black rounded-lg border border-gray-300 font-semibold text-lg rounded-lg shadow-md focus:outline-none "
    >
    Kembali
  </a>
  
</div>

</div>
